#formule{
	background-color: rgba(128,128,128,0.5);
    border-radius: 50px 50px;
    margin-top: 15px;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-left: 14%;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
}

#ssform{
    width: 90%;
    margin: 0 auto;
}

#formule input{
    border-radius: 5px;
}

#formule select{
    border-radius: 5px;
}

#formule label{
    display: block;
    width: 200px;
}

#coordo{
	display: flex;
	margin-left: 50px;
    margin-top: 15px;
	width: 200px;
}

#paie{
    display: flex;
    margin-top: 20px;   
    width: 400px;
}

#personne{
    vertical-align: top;
    width: 200px;
}

#adresse{
    vertical-align: top;
    margin-left: 200px;
    margin-top: -390.75px;
    width: 200px;
}

.longueur{
	width: 190px;
}

.longueur2{
	width: 200.4px;
}

.longueur3{
    width: 140px;
}

#infopaie{
    vertical-align: top;
    margin-left: 650px;
    margin-top: -275px;
    width: 300px;
}

button{
	display: inline-block;
	margin-top: 150px;
	margin-left: 300px 
}