html, body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1800px 800px;
    background-position: center;
    margin: 0;
}
}

#art head{
    padding-left: 15px;
    padding-right: 15px;
}

#quieneres article{
    background-color: rgba(255, 255, 255, 0.603);
}

#organisation article{
    background-color: rgba(255, 255, 255, 0.603);
}

#Dossier {
    background-color: rgba(255, 255, 255, 0.603);
}

#Dossier h1{
    text-align: center;
}


#Dossier p{
    text-align:center;
}

zindex 
overflow